<div class="movie">
    <div>Title: <a href="{% url 'movie_details' movie_id=movie.movie_id  %}">{{ movie.title }}</a></div>
    {% if render_images %}
        <img src="{{ movie.poster_url }}" alt="poster of the film"/>
    {% else %}
        <div>Poster URL: <a href="{{ movie.poster_url }}">click</a></div>
    {% endif %}
    
    <div>Release year:
        <a href="{% url 'filter_movies_by_field' field='release_year' value=movie.release_year %}">
            {{ movie.release_year }}
        </a>
    </div>
    <div>Duration: {{ movie.duration }} (hh:mm:ss)</div>
    <div>Rating: {{ movie.rating }} / 10</div>
    <div>Plot: <div class="plot">{{ movie.plot }}</div></div>
    <div>Directors:
        <ul>
        {% for director in movie.directors %}
            <li>       
                <a href="{% url 'filter_movies_by_field' field='directors' value=director %}">
                        {{ director }}
                </a>
            </li>
        {% endfor %}
        </ul>
    </div>
    <div>Genres:
        {% if not movie.genres %}
            Not fetched
        {% else %}
            <ul>
            {% for genre in movie.genres %}
            <li>       
                <a href="{% url 'filter_movies_by_field' field='genres' value=genre %}">
                        {{ genre }}
                </a>
            </li>
            {% endfor %}
            </ul>
        {% endif %}
    </div>
</div>